<h1>{{title}}</h1>
<p>You can donate to UNICEF here! UNICEF is a cause that supports children in need across the globe</p>
<div id="form">
	<form action="submit" id="donate_form" onsubmit="return submitForm()">
		<input type="text" id="donate_amt" placeholder="Enter amount here.">
		<input type="submit" value="Submit" id="submit">
	</form>
	<div id="displaydata"></div>
</div>
<script type="text/javascript">
	function submitForm(){
		document.getElementById("displaydata").innerHTML +=
			"<p>Thank you for donating $" + document.getElementById("donate_amt").value + "!</p>";
		return false;
	};
</script>