<h1>Donate to UNICEF</h1>
<p>You can donate to UNICEF here! UNICEF is a cause that supports children in need across the globe</p>
<div id="form">
	<form action="submit" id="donate_form">
		<input type="text" id="donate_amt" placeholder="Enter amount here.">
		<input type="submit" value="Submit" id="submit">
	</form>
</div>